<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413103192734-brsgjdrm6lka4a8rfk7esf03va531gki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413103192734-brsgjdrm6lka4a8rfk7esf03va531gki</string>
	<key>API_KEY</key>
	<string>AIzaSyBN2uTUpqccCVWAP-GFYDLyyfFJNNilBH8</string>
	<key>GCM_SENDER_ID</key>
	<string>413103192734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muharremkoroglu.SwiftChat</string>
	<key>PROJECT_ID</key>
	<string>swiftchat-88ffd</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftchat-88ffd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413103192734:ios:8bb771d4cca9d2e85f598f</string>
</dict>
</plist>